

	<table style="background-color:white; color: black;">
		<tr>
			<td>
				<img src="assets/images/logo.png" width="300px"><br>
				<img src="assets/images/nsf.jpg"  width="300px">
			</td>
			<td>
				This material is based upon work supported by the National Science Foundation under Grant No. 2138811.<br><br>
	
				Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) 
				and do not necessarily reflect the views of the National Science Foundation.<br><br>
				
				Copyright © 2024 National Science Data Fabric
			
			</td>
		</tr>
	</table>
	
		
