<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}NSDF connects scientific instruments, data, AI, and advanced computing to enable trustworthy autonomous scientific discovery.{% endif %}" />
<meta name="theme-color" content="#00172f" />
<link rel="icon" href="/assets/nsdf/nsdf-mark.png" />
<title>{% if page.title %}{{ page.title }}{% else %}NSDF | Accelerating Scientific Discovery{% endif %}</title>
<link rel="stylesheet" href="/astro/index.DdXuWuRM.css" />