<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="assets/css/index.css" />

</head>

<body class="is-preload landing">
	{% include menu.html %}
	{% include page_header.html %}


	{% include news.html %}

	<div id="page-wrapper">

		<!-- //////////////////////////////////////////////////////  -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="assets/images/pania.png" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>Who we are</h2><img src="assets/images/logo.png" alt="" />
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>
								We are building a <b>National Science Data Fabric</b> (NSDF) and introducing a novel
								trans-disciplinary approach for integrated data delivery
								and access to <b>shared storage</b>, networking, computing, and educational resources
								that
								will <b>democratize data-driven scientific discovery</b>.

							</p>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style2 right">
			<span class="image fit main"><img src="assets/images/waves.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Intellectual Merit</h2>
				</header>
				<p>
					The NSDF pilot <b>connects an open network of institutions</b>, including minority serving
					institutions, by deploying a federated data fabric testbed configurable for individual and shared
					scientific use.
					The NSDF pilot <b>offers a shared, modular, containerized data delivery environment</b>. Operating
					at the best economies of scale, the NSDF pilot demonstrates a key technology to fill the missing
					middle in our current computational infrastructure.
					The NSDF pilot <b>builds a shared resource for equity in data access</b> across a diversity of
					disciplines, institutions, and people.
					The NSDF pilot embraces the motto of the Minority Serving Cyberinfrastructure Consortium (MS-CC) of
					<b>accomplishing together what we cannot do separately</b>.
					The NSDF pilot <b>connects data sources</b> with compute and networking components through a
					software stack that democratizes data delivery and empowers end users with scalable, easy-to-use,
					integrated, and extendable tools.
				</p>

			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style3 left">
			<span class="image fit main bottom"><img src="assets/images/foam.gif" alt="" /></span>
			<div class="content">
				<header>
					<h2>Broader Impacts</h2>
				</header>
				<p>
					The NSDF pilot provides a platform and a model for <b>equity in access to data</b> and CI resources
					for a broad class of disciplines
					including <b>materials sciences</b>, earth sciences, comparative connectomics, astronomy, social
					sciences, biology, chemistry, medicine, physics, and economics.

					The NSDF testbed directly enables fast-paced design and testing of new materials benefiting society
					at large in
					critical fields such as energy, security, environment, and healthcare.
				</p>

			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style2 right">
			<span class="image fit main"><img src="assets/images/icecube.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>IceCube and XenonNT</h2>
				</header>
				<p>
					The NSDF pilot supports the <b>IceCube neutrino observatory</b> and the <b>XenonNT</b> dark matter
					detector advances the understanding of the evolution of galaxies and the nature of “dark matter” and
					“dark energy”.
				</p>

			</div>
		</section>


		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style3 left">
			<span class="image fit main bottom"><img src="assets/images/xenon.jpeg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Our VISION of Data Democratization</h2>
				</header>
				<p>
					The NSDF vision is to establish a <b>globally connected infrastructure</b> in which scientific
					investigation is unhindered by the
					limitations of extreme data. With a <b>democratized data access framework</b>, even scientists using
					massive experimental and simulation
					data will not be distracted from scientific discovery, training activities, or dissemination of
					scientific findings in society.

				</p>

			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style2 right">
			<span class="image fit main"><img src="assets/images/utep.png" alt="" /></span>
			<div class="content">
				<header>
					<h2>NSDF MISSION of Data Democratization</h2>
				</header>
				<p>
					The NSDF mission is to <b>democratize access to large-scale scientific data</b> by developing
					production-grade scalable solutions to data storage,
					movement, and processing that can be deployed on commodity hardware, cloud computing, and HPC
					resources.
					NSDF will make software <b>tools easy to use</b> for scientists and easy to customize for the need
					of specific application domains.
					NSDF will facilitate <b>training opportunities</b> for current and future generations of scientists,
					including those having access only to resource-constrained environments.

				</p>

			</div>
		</section>


		<!-- //////////////////////////////////////////////////////  -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/index.js"></script>


		<table style="background-color:white; color: black; vertical-align: top;">
			<tr>
				<td>
					<img src="assets/images/logo.png" width="150px"><br>
					<img src="assets/images/nsf.jpg" width="150px">
				</td>
				<td style="vertical-align: top;">
					This material is based upon work supported by the National Science Foundation under Grant No.
					2138811.<br><br>

					Any opinions, findings, and conclusions or recommendations expressed in this material are those of
					the author(s)
					and do not necessarily reflect the views of the National Science Foundation.<br><br>

					Copyright © 2021 National Science Data Fabric

				</td>
			</tr>
		</table>


</body>

</html>