<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="assets/css/index.css" />

</head>

<body class="is-preload landing">
	{% include menu.html %}
	{% include page_header.html %}

<!-- Swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
	.swiper-slide {
		text-align: center;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
	}
</style>

<center style="background-color: white;color:black;border-color: black;vertical-align: middle;">
	<div class="swiper mySwiper" style="height:100%;vertical-align: middle;">
		<br>

		<div class="swiper-wrapper" style="vertical-align: middle;">

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='https://www.hpcwire.com/35-hpc-legends-michela-taufer' ><img src="assets/images/nsdf-hpc25.png" style="width:650px;"><br></a>
					Michela Taufer honored as one of HPCwire’s 35 Legends of 2025<br>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-teams25' ><img src="assets/images/20250822.png" style="width:650px;"><br></a>
					NSDF presents at the Tennessee Advanced Materials Summit (TEAMS)<br>
			</div>


			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='https://hpdc.sci.utah.edu/2025/award.html' ><img src="assets/images/michela25.jpg" style="width:650px;"><br></a>
					Michela Taufer Receives the 2025 HPDC Achievement Award<br>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='https://youtu.be/Fnv3D7dvrbQ?si=8LuYOFLuuWRj97vn' ><img src="assets/images/pasc25-2.jpg" style="width:650px;"><br></a>
					#PASC25 on stage – Optimizing Molecular Dynamics Dataflows: Integrating Workflows for Real-Time Analysis in the Era of Heterogeneous Computing  <br>
					Interview with Michela Taufer and Ewa Deelman
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='https://www.youtube.com/watch?v=LtOGw5qzDtA' ><img src="assets/images/pasc25.jpg" style="width:650px;"><br></a>
					#PASC25 on stage – Data Without Borders Fostering Equity and Access in Scientific Research <br>
					Interview with Michela Taufer and Maria Girone
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-nasa25' ><img src="assets/images/aashish25.jpg" style="width:650px;"><br></a>
					NSDF Member Selected for Prestigious NASA JPL Summer Internship<br>
					Aashish Panta has been selected for a summer internship at NASA’s Jet Propulsion Laboratory (JPL) working on developing AI solutions for Earth data.
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-intersect' ><img src="assets/images/nsdf-intersect.jpg" style="width:650px;"><br></a>
					NSDF and INTERSECT@ORNL Showcase Breakthrough in AI-Guided Autonomous Experiments<br>
					Commissioning On-the-Fly Science: Runtime Steering and AI Integration Pinpoint Spin Flop Transitions in α-Fe₂O₃
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-ipdps25' ><img src="assets/images/ipdps25.png" style="width:650px;"><br></a>
					Tutorial at IPDPS 2025 in Milan, Italy<br>
					The National Science Data Fabric will be featured at IPDPS 2025 <br>on Tuesday, June 3 and Wednesday, June 4, during the afternoon sessions.
				
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-ccgrid25' ><img src="assets/images/ccgrid25.png" style="width:650px;"><br></a>
					NSDF Team Named Finalist in SCALE Challenge at CCGrid 2025<br>
					The National Science Data Fabric team was selected as one of the <br>five finalists in the SCALE Challenge at CCGrid 2025 in Kristiansand, Norway.
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-ahm-2025-01' ><img src="assets/images/ahm25.jpg" style="width:650px;"></a><br>
				Fifth National Science Data Fabric (NSDF) All-Hands Meeting<br> 
				Maximizing Returns on Investment of the National Science Data Fabric: Driving Practical Impact and Sustainable Innovation<br>
				San Diego, CA on May 5 - 7, 2025<br>
				<a href='nsdf-ahm-2025-01' >2025 NSDF All Hands Meeting</a>
				</a>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-sc24' ></a><img src="assets/images/SC24_Fellows_Collage.png" style="width:650px;"></a><br>
					The National Science Data Fabric (NSDF) is proud to announce 
					its selection of <br> fifteen outstanding individuals for the  
					<a href='nsdf-sc24' >2024 NSDF Fellowship cohort</a>
				</a>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='nsdf-sc24-fellows' ><img src="assets/images/SC23_Fellows.jpg" style="width:650px;"><br>
					NSDF SC24 Fellows <br>
				</a>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<a href='https://x.com/pasc_conference/status/1798327008176513111' ><img src="assets/images/pasc24.png" style="width:650px;"><br>
					#PASC24 on stage <br>
					Unleashing the Power within Data Democratization: Building an Inclusive Community<br>
					Interview with Michela Taufer
				</a>
			</div>


			<div class="swiper-slide" style="vertical-align: middle;">
				 <img src="assets/images/chess-people.png" style="width:650px;"><br>
					V. Pascucci and G. Scorzelli present NSDF technology at the <br>
					2024 Cornell High Energy Synchrotron Source user meeting. June 4 2024.<br>
					<a href='https://indico.classe.cornell.edu/event/2411/timetable/#20240604.detailed' >https://indico.classe.cornell.edu/event/2411/timetable/#20240604.detailed</a>
			</a>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;">
				<img src="assets/images/chess-tracy.png" style="width:650px;"><br>
				V. Pascucci and G. Scorzelli give hands-on tutorial for NSDF dashboards at the X-CITE Workshop on June 5 2024.<br>
				<a href='https://nationalsciencedatafabric.org/chess-um24.html' >Training material </a>&nbsp;&nbsp;
				<a href="https://www.chess.cornell.edu/x-cite-workshop-2024">Workshop schedule</a>
			</div>

			<div class="swiper-slide" style="vertical-align: middle;height: 100%;">
				<a href="/nsdf-seminar-series-hauser"><img src="assets/images/ncar-slide.png"  style="width:800px;"><br>
				May 2 2024 NSDF Webinar: Distinguished Speakers Dr. Thomas Hauser from NCAR</a>
			</div>

			<div class="swiper-slide">
				<a href="{{ site.baseurl }}/sci30.html"><img src="assets/images/sci-slide.png"  width="800"><br>
				April 24,25 2024 - NSDF @ SCI 30th Anniversary</a><br>
			</div>


		</div>

		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
		var swiper = new Swiper(".mySwiper", {
			autoplay: {
			delay: 4000,
		},
			pagination: {
				el: ".swiper-pagination",
				type: "progressbar",
			},
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
		});
	</script>
</center>

	<div id="page-wrapper">

		<!-- //////////////////////////////////////////////////////  -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="assets/images/pania.png" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>Who we are</h2><img src="assets/images/logo.png" alt="" />
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>
								We are building a <b>National Science Data Fabric</b> (NSDF) and introducing a novel
								trans-disciplinary approach for integrated data delivery
								and access to <b>shared storage</b>, networking, computing, and educational resources
								that
								will <b>democratize data-driven scientific discovery</b>.

							</p>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style2 right">
			<span class="image fit main"><img src="assets/images/waves.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Intellectual Merit</h2>
				</header>
				<p>
					The NSDF pilot <b>connects an open network of institutions</b>, including minority serving
					institutions, by deploying a federated data fabric testbed configurable for individual and shared
					scientific use.
					The NSDF pilot <b>offers a shared, modular, containerized data delivery environment</b>. Operating
					at the best economies of scale, the NSDF pilot demonstrates a key technology to fill the missing
					middle in our current computational infrastructure.
					The NSDF pilot <b>builds a shared resource for equity in data access</b> across a diversity of
					disciplines, institutions, and people.
					The NSDF pilot embraces the motto of the Minority Serving Cyberinfrastructure Consortium (MS-CC) of
					<b>accomplishing together what we cannot do separately</b>.
					The NSDF pilot <b>connects data sources</b> with compute and networking components through a
					software stack that democratizes data delivery and empowers end users with scalable, easy-to-use,
					integrated, and extendable tools.
				</p>

			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style3 left">
			<span class="image fit main bottom"><img src="assets/images/foam.gif" alt="" /></span>
			<div class="content">
				<header>
					<h2>Broader Impacts</h2>
				</header>
				<p>
					The NSDF pilot provides a platform and a model for <b>equity in access to data</b> and CI resources
					for a broad class of disciplines
					including <b>materials sciences</b>, earth sciences, comparative connectomics, astronomy, social
					sciences, biology, chemistry, medicine, physics, and economics.

					The NSDF testbed directly enables fast-paced design and testing of new materials benefiting society
					at large in
					critical fields such as energy, security, environment, and healthcare.
				</p>

			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style2 right">
			<span class="image fit main"><img src="assets/images/icecube.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>IceCube and XenonNT</h2>
				</header>
				<p>
					The NSDF pilot supports the <b>IceCube neutrino observatory</b> and the <b>XenonNT</b> dark matter
					detector advances the understanding of the evolution of galaxies and the nature of “dark matter” and
					“dark energy”.
				</p>

			</div>
		</section>


		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style3 left">
			<span class="image fit main bottom"><img src="assets/images/xenon.jpeg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Our VISION of Data Democratization</h2>
				</header>
				<p>
					The NSDF vision is to establish a <b>globally connected infrastructure</b> in which scientific
					investigation is unhindered by the
					limitations of extreme data. With a <b>democratized data access framework</b>, even scientists using
					massive experimental and simulation
					data will not be distracted from scientific discovery, training activities, or dissemination of
					scientific findings in society.

				</p>

			</div>
		</section>

		<!-- //////////////////////////////////////////////////////  -->
		<section class="spotlight style2 right">
			<span class="image fit main"><img src="assets/images/utep.png" alt="" /></span>
			<div class="content">
				<header>
					<h2>NSDF MISSION of Data Democratization</h2>
				</header>
				<p>
					The NSDF mission is to <b>democratize access to large-scale scientific data</b> by developing
					production-grade scalable solutions to data storage,
					movement, and processing that can be deployed on commodity hardware, cloud computing, and HPC
					resources.
					NSDF will make software <b>tools easy to use</b> for scientists and easy to customize for the need
					of specific application domains.
					NSDF will facilitate <b>training opportunities</b> for current and future generations of scientists,
					including those having access only to resource-constrained environments.

				</p>

			</div>
		</section>


		<!-- //////////////////////////////////////////////////////  -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/index.js"></script>


		<table style="background-color:white; color: black; vertical-align: top;">
			<tr>
				<td>
					<img src="assets/images/logo.png" width="150px"><br>
					<img src="assets/images/nsf.jpg" width="150px">
				</td>
				<td style="vertical-align: top;">
					This material is based upon work supported by the National Science Foundation under Grant No.
					2138811.<br><br>

					Any opinions, findings, and conclusions or recommendations expressed in this material are those of
					the author(s)
					and do not necessarily reflect the views of the National Science Foundation.<br><br>

					Copyright © 2024 National Science Data Fabric

				</td>
			</tr>
		</table>


</body>

</html>