

	<table style="background-color:white; color: black;">
		<tr>
			<td>
				<img src="assets/images/logo.png" width="300px"><br>
				<img src="assets/images/nsf.jpg"  width="300px">
			</td>
			<td>
				<small>
				This material is based upon work supported in part by 
				National Science Foundation under Awards Number: 
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2609465" target="_blank">2609465</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2330582" target="_blank">2330582</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2138811" target="_blank">2138811</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2103845" target="_blank">2103845</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2334945" target="_blank">2334945</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2331152" target="_blank">2331152</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2531754" target="_blank">2531754</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2223704" target="_blank">2223704</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2513101" target="_blank">2513101</a>
					<a href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2127548" target="_blank">2127548</a>

				; ARPA-H grant no. <a href="https://arpa-h.gov/explore-funding/awards/3456" target="_blank">D24AC00338-00</a>
				; NASA Awards Number: 80NSSC23M0013, 1685389;
				; Intel oneAPI Centers of Excellence at University of Utah
				; and under the auspices of the DOE in collaboration with LLNL under contract DE-AC52-07NA27344.
				<br><br>
				</small>

				Any opinions, findings, and conclusions or recommendations expressed in this material are those of
				the author(s) and do not necessarily reflect the views of the sponsors or funding agencies.<br><br>
				
				Copyright © 2026 National Science Data Fabric
			
			</td>
		</tr>
	</table>
	
		
